## Importing shapely and json and King County demographic data as a .geojson

In [71]:
from shapely.geometry import Point, Polygon
import json
import pandas as pd
with open('../../../data/Consolidated_Demographics_Index_for_King_County_Census_Tracts___demographic_index_area.geojson') as f:
    census_tract = json.load(f)
df = pd.read_csv('../../../data/kc_house_data.csv')

In [72]:
Polygon(census_tract['features'][0]['geometry']['coordinates'][0])

In [74]:
coords = []

for x in census_tract['features']:
    d = {}
    d['label'] = x['properties']['TRACT_LBL']
    shape = x['geometry']['coordinates']
    if len(shape) != 1:
        d['shape'] = Polygon(shape[0][0]+shape[1][0])
    else:
        d["shape"] = Polygon(shape[0])
    coords.append(d)

### shape of a random (20th) census tract

In [75]:
coords[20]

{'label': 'Tract 001100',
 'shape': <shapely.geometry.polygon.Polygon at 0x7f847c4b8ca0>}

In [76]:
coords[20]['shape']

## making column of coordinates by zipping long and lat

In [80]:
df.coordinates = list(zip(df.long, df.lat))

<ipython-input-80-4db589e91429>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.coordinates = list(zip(df.long, df.lat))

## Creating list of each home's tract

In [81]:
tracts = []
for coordinate in df.coordinates:
    point = Point(coordinate)
    found = False
    for x in coords:
        if x['shape'].contains(point):
            tracts.append(x['label'])
            found = True
            
    if not found:
        tracts.append(0)

In [82]:
len(tracts)

21597

In [83]:
df['tracts'] = tracts

In [84]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,tracts
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,Tract 011900
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,Tract 000200
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,Tract 022102
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,Tract 011600
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,Tract 032317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509,Tract 001300
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200,Tract 026600
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007,Tract 008900
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287,Tract 025006
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357,Tract 008900

In [246]:
#df.to_csv('housing_data.csv')